*{
    margin:0;
    padding:0;
}
body{
    background:#4c5760;
    text-align:center;
    height:100%;
    
}
h1{
    color:#d7ceb2;
    margin-top:4vmin;
    color:#a59e8c;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    
}
.message-container>h1{
    color:#d7ceb2;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.message-container{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    height:100vh;
    
   
    background-color:rgba(0,0,0, 0.5);
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    color:#a59e8c;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    
}

#container{
    display:flex;
    align-items:center;
    justify-content:center;

    height:80vh;
    
    
}
#game{
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:center;

    height:60vmin;
    width:60vmin;
    gap:1.5vmin;

    


}
.box{
    height:18vmin;
    width:18vmin;
    background:#93a8ac;
    color:#4c5760;
    
    border:none;
    border-radius:2vmin;
    box-shadow:0 0 1rem rgba(0,0,0,0.5);

    font-size:5vmin;
    font-weight:bold;
    

}
#rest-btn{
    border:none;
    border-radius:5px;
    padding:10px 20px;
    text-transform:uppercase;
    cursor:pointer;
    background: #d7ceb2;
    margin-bottom:4vmin;
}
#new-game{
    border:none;
    border-radius:5px;
    padding:10px 20px;
    text-transform:uppercase;
    cursor:pointer;
    background: #d7ceb2;
    margin-top:4vmin;
    
}


.hide{
    display:none;
}









